@charset "UTF-8";
@import url("../node_modules/normalize.css/normalize.css");
@font-face {
  font-family: 'helvetica';
  src: url("../font/HelveticaLight/HelveticaLight.ttf");
}

@font-face {
  font-family: 'reg';
  src: url("../font/HelveticaRegular/HelveticaRegular.ttf");
}

* {
  font-family: 'helvetica';
  box-sizing: border-box;
  outline: none;
}

body h3 {
  margin: 70px 0 50px;
  font-size: 48px;
}

.top-line .logo-menu-wrap {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.top-line .logo-menu-wrap .logo {
  position: relative;
  width: 50%;
}

.top-line .logo-menu-wrap .logo .logo-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.top-line .logo-menu-wrap .main-nav-menu {
  width: 50%;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
}

.top-line .logo-menu-wrap .main-nav-menu a {
  margin: 0 15px;
  color: #181515;
  line-height: 33px;
  font-size: 12px;
  font-family: 'reg';
}

.top-line .logo-menu-wrap .main-nav-menu a:last-child {
  margin-right: 0;
}

.top-line .logo-menu-wrap .main-nav-menu a:hover {
  color: #007cbf;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #007cbf;
}

/*main presentation container with video*/
.main-presentation {
  padding: auto;
  position: relative;
  overflow-x: hidden;
  background: url("../img/main.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid #007cbf;
  /*shadow*/
}

.main-presentation .main-presentation-shadow {
  height: 665px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.main-presentation .presenatation-wrap {
  z-index: 5;
  /*phoner*/
  /* div with title and main description */
}

.main-presentation .presenatation-wrap .contact-phones {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding-top: 30px;
}

.main-presentation .presenatation-wrap .contact-phones a {
  color: #fff;
  font-size: 16px;
}

.main-presentation .presenatation-wrap .contact-phones .separate-slash {
  color: #007cbf;
  margin: 0 15px;
}

.main-presentation .presenatation-wrap .the-content-description {
  color: #fff;
}

.main-presentation .presenatation-wrap .the-content-description h1 {
  font-size: 64px;
}

.main-presentation .presenatation-wrap .the-content-description .main-description {
  /*p*/
  padding-right: 20%;
  font-size: 32px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons {
  /*first button*/
  margin-top: 50px;
  /*sec button*/
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button {
  width: 340px;
  background: transparent;
  padding: 16px 30px;
  border: 2px solid #fff;
  transition: .3s ease;
  font-family: 'reg';
  font-size: 16px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button:first-child {
  margin-right: 25px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button:hover {
  background: #007cbf;
  border-color: #007cbf;
}

/* ещё не готов  */
.service-steps {
  height: 650px;
}

.service-steps .widthest-container {
  height: 450px;
}

/* ещё не готов  */
.presentation-slider {
  background: url("../img/chertiozh.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 10px solid #007cbf;
  position: relative;
  /*slider wrapper*/
}

.presentation-slider .presentation-slider-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.presentation-slider #slider-wrap {
  position: relative;
}

.presentation-slider #slider-wrap .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 470px;
  color: #fff;
}

.presentation-slider #slider-wrap .slide .left-slider-side {
  width: 55%;
}

.presentation-slider #slider-wrap .slide .left-slider-side h2 {
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.presentation-slider #slider-wrap .slide .left-slider-side p {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.presentation-slider #slider-wrap .slide .right-slider-side {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.presentation-slider #slider-wrap .slide .right-slider-side img {
  animation-name: spinnerRotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.presentation-slider #slider-wrap .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  display: flex;
  justify-content: center;
  padding-right: 120px;
}

.presentation-slider #slider-wrap .slick-dots li {
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-slider #slider-wrap .slick-dots li button {
  transition: 0.3s ease;
  opacity: 0;
}

.presentation-slider #slider-wrap .slick-dots .slick-active button {
  opacity: 1 !important;
  width: 10px;
  height: 12px;
  background: #007cbf;
  color: #007cbf;
  font-size: 1px;
  border: none;
  border-radius: 50%;
}

.presentation-slider #slider-wrap .slick-arrow {
  display: none !important;
}

@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.team-slider-section {
  padding-bottom: 100px;
}

.team-slider-section #team-slider {
  height: 330px;
  margin-bottom: 50px;
}

.team-slider-section #team-slider .item {
  height: 330px;
  position: relative;
}

.team-slider-section #team-slider .item .turned-left {
  position: absolute;
  left: 62%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-slider-section #team-slider .item .turned-left span {
  margin-bottom: 25px;
}

.team-slider-section #team-slider .item .turned-left p {
  margin: 0;
}

.team-slider-section #team-slider .slick-arrow {
  display: none !important;
}

.revolv-slide-wrap {
  width: 100%;
  height: 600px;
  border-bottom: 10px solid #007cbf;
  background: #000;
  color: #fff;
  padding-top: 1px;
}

.revolv-slide-wrap .revo-section-width h3 {
  margin-top: 100px;
}

.revolv-slide-wrap .revo-section-width p {
  max-width: 551px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'reg';
}

/*mapa*/
.mapa-with-form {
  height: 480px;
  width: 100%;
  position: relative;
}

.mapa-with-form .the_mapa {
  position: absolute;
}

.mapa-with-form #form-customer {
  position: relative;
  height: 1x;
}

.mapa-with-form #form-customer .the_form {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 590px;
  height: 350px;
  margin-top: 60px;
}
/*# sourceMappingURL=main.css.map */