@charset "UTF-8";
@import url("../node_modules/normalize.css/normalize.css");
@font-face {
  font-family: 'helvetica';
  src: url("../font/HelveticaLight/HelveticaLight.ttf");
}

@font-face {
  font-family: 'reg';
  src: url("../font/HelveticaRegular/HelveticaRegular.ttf");
}

@font-face {
  font-family: 'thin';
  src: url("../font/HelveticaThin/HelveticaThin.ttf");
}

* {
  font-family: 'helvetica';
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}

body h3 {
  margin: 75px 0 50px;
  font-size: 48px;
  font-weight: 100;
}

.top-line .logo-menu-wrap {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.top-line .logo-menu-wrap .logo {
  position: relative;
  width: 50%;
}

.top-line .logo-menu-wrap .logo .logo-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.top-line .logo-menu-wrap .main-nav-menu {
  width: 50%;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
}

.top-line .logo-menu-wrap .main-nav-menu a {
  margin: 0px 22px;
  color: #181515;
  line-height: 25px;
  font-size: 12px;
  font-family: 'reg';
}

.top-line .logo-menu-wrap .main-nav-menu a:hover {
  color: #007cbf;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #007cbf;
}

/*main presentation container with video*/
.main-presentation {
  padding: auto;
  position: relative;
  background: url("../img/main.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid #007cbf;
  /*shadow*/
}

.main-presentation .main-presentation-shadow {
  overflow: hidden;
  position: relative;
  border: 1px solid red;
  height: 621px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.main-presentation .main-presentation-shadow #area-for-header-svg {
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0;
  height: 472px;
  width: 472px;
  margin: auto;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg {
  position: relative;
  border: 1px solid #0f0c0c;
  height: 472px;
  width: 472px;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .circle1 {
  position: absolute;
  left: 50%;
  z-index: 3;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .circle2 {
  position: absolute;
  left: 59%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .line1 {
  position: absolute;
  width: 1440px;
  right: -180px;
  top: 176px;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .line2 {
  position: absolute;
  right: 96px;
  top: 132px;
  width: 415px;
  z-index: 5;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .line2little {
  position: absolute;
  right: 300px;
  top: 122px;
  width: 122px;
  z-index: 5;
  height: 7px;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .line-vert1 {
  position: absolute;
  bottom: -147px;
  transform: rotate(90deg);
  right: -58px;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .line-vert2 {
  position: absolute;
  bottom: -120px;
  transform: rotate(90deg);
  right: -100px;
}

.main-presentation .main-presentation-shadow #area-for-header-svg .wrapper-svg .circle-little {
  position: absolute;
  top: 119px;
  left: -67px;
}

.main-presentation .presenatation-wrap {
  z-index: 5;
  /*phoner*/
  /* div with title and main description */
}

.main-presentation .presenatation-wrap .contact-phones {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 10px;
  margin: 0 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding-top: 5px;
}

.main-presentation .presenatation-wrap .contact-phones a {
  color: #fff;
  font-size: 16px;
}

.main-presentation .presenatation-wrap .contact-phones .separate-slash {
  color: #007cbf;
  margin: 0 15px;
}

.main-presentation .presenatation-wrap .the-content-description {
  color: #fff;
}

.main-presentation .presenatation-wrap .the-content-description h1 {
  font-size: 64px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 79px;
}

.main-presentation .presenatation-wrap .the-content-description .main-description {
  /*p*/
  padding-right: 13%;
  font-size: 32px;
  padding-top: 10px;
  letter-spacing: 1.3px;
  line-height: 39px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons {
  /*first button*/
  margin-top: 37px;
  /*sec button*/
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button {
  width: 329px;
  background: transparent;
  padding: 15px 30px;
  border: 2px solid #fff;
  transition: .3s ease;
  font-family: 'reg';
  font-size: 16px;
  letter-spacing: 2px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button:first-child {
  margin-right: 44px;
}

.main-presentation .presenatation-wrap .the-content-description .main-buttons .siblin-button:hover {
  background: #007cbf;
  border-color: #007cbf;
}

/* ещё не готов  */
.service-steps {
  height: 820px;
}

.service-steps .widthest-container {
  height: 620px;
  border: 1px solid rebeccapurple;
}

/* ещё не готов  */
.presentation-slider {
  background: url("../img/chertiozh.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 10px solid #007cbf;
  position: relative;
  /*slider wrapper*/
}

.presentation-slider .presentation-slider-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.presentation-slider #slider-wrap {
  position: relative;
}

.presentation-slider #slider-wrap .slide {
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 444px;
  color: #fff;
}

.presentation-slider #slider-wrap .slide .left-slider-side {
  width: 60%;
}

.presentation-slider #slider-wrap .slide .left-slider-side h2 {
  font-size: 48px;
  letter-spacing: 2.4px;
  margin-bottom: 40px;
  font-weight: 100;
  line-height: 56px;
  margin-top: 20px;
}

.presentation-slider #slider-wrap .slide .left-slider-side p {
  font-size: 20px;
  font-family: 'thin';
}

.presentation-slider #slider-wrap .slide .right-slider-side {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8%;
}

.presentation-slider #slider-wrap .slide .right-slider-side img {
  animation-name: spinnerRotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.presentation-slider #slider-wrap .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  display: flex;
  justify-content: center;
  padding-right: 120px;
}

.presentation-slider #slider-wrap .slick-dots li {
  height: 25px;
  width: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-slider #slider-wrap .slick-dots li button {
  transition: 0.3s ease;
  opacity: 0;
}

.presentation-slider #slider-wrap .slick-dots .slick-active button {
  opacity: 1 !important;
  width: 15px;
  height: 15px;
  background: #007cbf;
  color: #007cbf;
  font-size: 1px;
  border: none;
  border-radius: 50%;
}

.presentation-slider #slider-wrap .slick-arrow {
  display: none !important;
}

@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.team-slider-section h3 {
  margin: 65px 0 65px;
}

.team-slider-section #team-slider {
  height: 936px;
}

.team-slider-section #team-slider .item {
  height: 936px;
  position: relative;
  position: relative;
}

.team-slider-section #team-slider .item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  margin: auto;
}

.team-slider-section #team-slider .slick-arrow {
  cursor: pointer;
}

.team-slider-section #team-slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 47px;
  display: flex;
  justify-content: center;
}

.team-slider-section #team-slider .slick-dots li {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.team-slider-section #team-slider .slick-dots li button {
  transition: 0.3s ease;
  opacity: 0;
}

.team-slider-section #team-slider .slick-dots .slick-active {
  background: #007cbf;
}

.team-slider-section #team-slider .slick-dots .slick-active button {
  opacity: 1 !important;
  width: 10px;
  height: 12px;
  background: #007cbf;
  color: #007cbf;
  font-size: 1px;
  border: none;
  border-radius: 50%;
}

.team-slider-section #team-slider .a-left {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
}

.team-slider-section #team-slider .a-right {
  transform: rotate(180deg);
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.revolv-slide-wrap {
  width: 100%;
  height: 584px;
  border-bottom: 10px solid #007cbf;
  background: #252525;
  color: #fff;
  padding-top: 1px;
}

.revolv-slide-wrap .revo-section-width h3 {
  margin-top: 73px;
  margin-bottom: 55px;
}

.revolv-slide-wrap .revo-section-width p {
  max-width: 604px;
  margin: 0 auto;
  font-size: 19px;
  font-family: 'thin';
}

/*mapa*/
.mapa-with-form {
  height: 457px;
  width: 100%;
  position: relative;
}

.mapa-with-form .the_mapa {
  position: absolute;
}

.mapa-with-form #form-customer {
  position: relative;
  height: 1x;
}

.mapa-with-form #form-customer .the_form {
  position: absolute;
  top: 0;
  right: -52px;
  background: #fff;
  width: 628px;
  height: 334px;
  margin-top: 60px;
}

.mapa-with-form #form-customer .the_form h3 {
  margin: 30px 0;
  letter-spacing: 0;
}

.mapa-with-form #form-customer .the_form form > input {
  width: 100%;
}

.mapa-with-form #form-customer .the_form form {
  padding: 0 50px;
}

.mapa-with-form #form-customer .the_form form input {
  border-radius: 3px;
  height: 45px;
  padding: 0 10px;
  margin: 6px 0;
  border: 1px solid silver;
}

.mapa-with-form #form-customer .the_form form input::placeholder {
  color: silver;
  font-size: 16px;
}

.mapa-with-form #form-customer .the_form .drod-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mapa-with-form #form-customer .the_form .drod-and-button input {
  width: 70%;
}

.mapa-with-form #form-customer .the_form .drod-and-button button {
  height: 44px;
}

footer {
  padding: 75px 0;
}

footer .col .foot-cen {
  display: flex;
  flex-direction: column;
  width: 185px;
  margin: 0 auto;
}

footer .col p {
  padding-bottom: 6px;
}

footer .col a {
  color: #000;
}
/*# sourceMappingURL=main.css.map */